.prime-pic{
    width: 300 px;
    height: auto;
}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}
body{
    font-family: 'Mochiy Pop P One', sans-serif;
    background-color:#ebf5fb;
}
.end{
    text-align: justify end;
}
em{
    color: peru;
}
h2{
    color: rgb(15, 1, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large
}
.yeh{
    color: rgb(12, 4, 4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hyper{
    float: right;
    text-align: right;
}
.fab{
    font-size: 3ch;
}
#cont-center{ text-align: center;
    font-size: 3ch;
    color: mintcream;
}
.busi{
    font-size: 2ch;
    font-family: monospace;
    background-color: rgba(54, 54, 224, 0.336);
}
.card{
    background: linear-gradient(rgb(182, 182, 212), rgb(189, 139, 147))
}
.trans{
    background: transparent 95%;
    background-color: rgba(22, 145, 245, 0.397);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    
}
@media (min-width: 991.98px) {
    .intro{
        height: 700px;
    }
    .about{
        height: 400px;
    }
    .projects{
        height: 50px;
    }
    .projects2{
        height: 400px;
    }
    .footer{
        height: 200px;
    }
    }
